{% extends "bootstrap/base.html" %}
{% block title %}Paste Title{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>XV-Bin</h1>
  <h3>404 : Paste Not Found! :(</h3>
</div>

<br>
<div class="container">
A <a href="/paste">XV-Bin</a> or text storage site is a type of online content-hosting service where users can store plain text, code, etc. Your created paste is non-editable and can't be deleted. This project is beta, so please report bugs or feedback to <a href="t.me/xolvadev">XolvaID</a> !
</div>
<br>
<br>
<center>
      &copy; 2022 XolvaDev
</center>
</div>
{% endblock %}
